extends layout

block content
  script(src="/javascripts/script.js")
  
  h1 Tic-Tac-Toe
  
  p
    strong Instructions: Tic-tac-toe is a game for two players, X and Y, who take turns marking the spaces in a 3&times;3 grid. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins the game.
  
  canvas#canvas
